.menuSelector {
  white-space: nowrap;
  color: black;
  background-color: #e7e7e7;
  border: 1px solid #a9a6a6ab;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 14px;
  display: flex;
  cursor: pointer;
  text-align: left;

}

.submenuItem {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #000;
  text-align: left;
}

.subSubList {

  list-style: none;
  padding-left: 0;
}


.menuText {
  display: block;
}

.menuIcon {
  aspect-ratio: 1.64;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 18px;
  margin-top: 4px;
}

.marketList {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;

  border-bottom: 1px solid black;
}

.show {
  list-style: none;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e1dedeab;
  width: 100%;
  height: auto;
  padding: 14px 21px;
  text-align: left;
  cursor: pointer;

  opacity: 1;
  transform: translateY(0);
  display: block;
}

.navMenuContainer ul {
  margin-bottom: 0;
}

.hide {
  display: none;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
}


.imageContainer {
  background-color: #e1dedeab;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 11px 29px;
  display: flex;
}

.brandLogo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: start;
  width: 35px;
}

.brandLogoCenter {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.brandLogoTop {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: start;
  width: 32px;
}

.brandLogoMiddle {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 31px;
  margin-top: auto;
  margin-bottom: auto;
}

.brandLogoEnd {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 36px;
}
