* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 480px) {
  .react-pdf__Page {
    width: 180px;
    height: auto;
  }

  .react-pdf__Page__canvas {
    height: auto !important;
    width: 180px !important;
  }

  .react-pdf__Document {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 481px) {
  .react-pdf__Page {
    width: 460px;
    height: auto;
  }

  .react-pdf__Page__canvas {
    height: auto !important;
    width: 460px !important;
  }

  .react-pdf__Document {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1250px) {
  .magazine-slider {
    display: none;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1500px) {
  .magazine-slider {
    /* position: 'absolute', minWidth:150, width:200, maxWidth: 150, height: 350 */
    position: absolute;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    min-width: 175px;
    width: 250px;
    max-width: 175px;
    height: 350px;
  }
}

/* style={{ position: 'absolute', left: 0, minWidth:200, width:300, maxWidth: 300, height: 500 }} */

@media screen and (min-width: 1500px) {
  .magazine-slider {
    /* position: 'absolute', minWidth:150, width:200, maxWidth: 150, height: 350 */
    position: absolute;
    left: 0;
    margin-left: 5px;

    min-width: 200px;
    width: 300px;
    max-width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 1250px) {
  .magazine-ad {
    display: none;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1500px) {
  .magazine-ad {
    /* position: 'absolute', minWidth:150, width:200, maxWidth: 150, height: 350 */
    position: absolute;
    top: 1px;
    right: 0;
    width: 250px;
    height: 250px;
  }
}

/* style={{ position: 'absolute', left: 0, minWidth:200, width:300, maxWidth: 300, height: 500 }} */

@media screen and (min-width: 1500px) {
  .magazine-ad {
    /* position: 'absolute', minWidth:150, width:200, maxWidth: 150, height: 350 */
    position: absolute;
    top: 1px;
    right: 0;
    min-width: 100px;
    width: 300px;
    max-width: 300px;
    height: 300px;
  }
}

.subscribeButton_magazine {
  background-color: #ff6347; /* Tomato color */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out; /* Pulsing animation */
  transition: transform 0.3s ease;
}

/* Define the pulsing animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.7); /* Initial glow */
  }
  50% {
    transform: scale(1.1); /* Slightly bigger */
    box-shadow: 0 0 10 rgba(255, 99, 71, 1); /* Brighter glow */
  }
}

.subscribeButton_magazine:hover {
  /* background-color: white; */
  color: black;
}


.flipbook-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  background: #32bea6;
  border-radius: 50%;
  padding: 6px;
  transform: translateY(-50%);
}

.flipbook-prev {
  left: 0;
  transform: translate(560%, -50%);
}

.flipbook-next {
  right: 0;
  transform: translate(-560%, -50%);
}

/* Responsive tweak for small screens */
@media (max-width: 768px) {
  .flipbook-prev {
    transform: translate(-30%, -50%);
  }

  .flipbook-next {
    transform: translate(30%, -50%);
  }
}




@media (max-width: 1268px) {
  .flipbook-prev {
    transform: translate(200%, -50%);
  }

  .flipbook-next {
    transform: translate(-200%, -50%);
  }
}