* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}


/* Light Theme */
html.light {
  --bg-color: #ffffff !important;
  --text-color: #212529 !important;
}

/* Dark Theme */
html.dark {
  --bg-color: #212529 !important;
  --text-color: #f8f9fa !important;
}

/* Apply to Bootstrap components */
body {
  /* font-family: Arial, sans-serif; */
  background-color: var(--bg-color);
  color: var(--text-color) !important;
}

.card {
  background-color: var(--bg-color);
  color: var(--text-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}
/* .font-inter {
  font-family: "Inter", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
} */

/* Add other fallback fonts here as needed */

/* Position submenus to the right */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}




.main_content__position {
  background-color: var(--bg-color);
  color: var(--text-color) !important;
  min-height: 100vh;
  padding-top: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 290px;
}


@media only screen and (max-width: 600px) {
  .main_content__position {
    margin-top: 55px;
    min-height: 100vh;
    padding-top: 0;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
  }
}
