.pricing-table {
    border-collapse: collapse;
    background-color: transparent;
  }


  .pricing-table th:first-child,
  .pricing-table td:first-child {
    position: sticky;
    left: 0;

    z-index: 10;
  }
  
  .pricing-table th:first-child {
    z-index: 11; /* Ensures the header cell is above other cells */
    background-color: #00e0ae;
  }
  
  
  .pricing-table th, 
  .pricing-table td {
    border: none;
  }

  .pricing-table th {
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .pricing-table th {
    background-color: #FFD700;
    color: black;
    text-align: center;
    padding: 10px;
    width: 50px;
  }
  
  .pricing-table td {
    text-align: center;
    padding: 25px ;
    background-color: transparent;
    color:inherit;
  }
  
  .pricing-table td:first-child {
    text-align: left;
    font-weight: bold;
    background-color: #383838;
    color: rgb(207, 207, 207);
  }
  

  .shining {
    position: relative;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 60%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }
  
  @keyframes shine {
    from {
      mask-position: 150%;
      -webkit-mask-position: 150%;
    }
    to {
      mask-position: -50%;
      -webkit-mask-position: -50%;
    }
  }

  .shining-gold {
    position: relative;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 20%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }
  
  @keyframes shine {
    from {
      mask-position: 150%;
      -webkit-mask-position: 150%;
    }
    to {
      mask-position: -50%;
      -webkit-mask-position: -50%;
    }
  }

  .attract-button {
    background: linear-gradient(45deg, #FF416C, #FF4B2B);
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    outline: none;

  }
  
  .attract-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  .attract-button:hover::before {
    opacity: 1;
  }
  
  .attract-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  }
  
  .attract-button:active {
    transform: translateY(-1px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .attract-button:focus {
    outline: none;
  }

  .subscription-form-container {

    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;

  }
  
  .payment-info {
    margin-top: 20px;
  }
  
  .submit-button {
    margin-top: 20px;
    width: 100%;
  }

  .promo-box {
    background-color: #fdffc6;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;

    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .promo-box p {
    margin: 10px 0;
    line-height: 1.6;
   
  }
  
  .promo-box strong {
    color: #333;
  }
  
  .promo-box .note {
    color: #555;
    font-style: italic;
  }
  
  .promo-box .highlight {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #00796b;
  }
  
  